<div class="container">
  <app-cockpit (serverCreate)="addServer($event)" (blueprintCreate)="addBlueprint($event)"></app-cockpit>
</div>
<hr>
<div class="container">
  <button class="btn btn-success" (click)="onChangeNamne()">Change first element</button>
  <button class="btn btn-danger" (click)="onDestroyfirst()">Destroy first element</button>
  <app-server *ngFor="let server of serverDetails" [serverList]="server" [name]="server.name">
    <!-- <div class="card-header addingServer" *ngIf="server.type==='addingServer'">
      <strong>{{server.name}}</strong>
    </div> -->
    <!-- <div class="card-header blueprint" *ngIf="server.type==='blueprintServer'">
      <span>{{server.name}}</span>
    </div> -->
    <div class="card-body">
      <p>{{server.content}}</p>
    </div>
  </app-server>
</div>
<router-outlet></router-outlet>
