.col-xm-12 {
  h3 {
    color: rgba(39, 39, 190, 0.712);
  }
  border: 1px solid #000;
  margin-top: 30px;
  display: flex;
  gap: 12px;
  flex-direction: column;
  width: 500px;
  padding: 50px;
  input {
    width: 300px;
    height: 30px;
  }
  .button-section {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }
  .card {
    .addingServer {
      background: rgb(152, 75, 75);
      color: #fff;
    }
    .blueprint {
      background: rgba(31, 31, 179, 0.716);
      color: #fff;
      font-style: italic;
    }
    .card-body {
      color: rgb(152, 75, 75);
    }
  }
}
