<hr>
<div class="card-section">
  <input type="text" [(ngModel)]="inputText">
  <br>
  <button class="btn btn-warning" (click)="addText()">Add Text</button>
  <p *ngIf="userTypedText; else noTypingString">added text ! {{inputText}}</p>
  <ng-template #noTypingString>
    <p>nothing is added by user</p>
  </ng-template>
</div>
<hr>
<div class="card-section">
  <input type="text" [(ngModel)]="userName">
  <button class="btn btn-success" (click)="addingStatus()">Check Active Status</button>
  <div *ngFor="let list of statusList">
    <p>{{list.name}} <span [ngStyle]="{color:[list.color]}">{{list.status}}</span></p>
  </div>
</div>
