<mat-card *ngIf="userDetails">
  <mat-card-title>{{userDetails.name}}</mat-card-title>
  <mat-card-content><span>UserName</span>{{userDetails.username}}</mat-card-content>
  <mat-card-content><span>EmaiId</span>- {{userDetails.email}}</mat-card-content>
  <mat-card-content><span>CityName</span>- {{userDetails.city}}</mat-card-content>
  <mat-card-content><span>PhoneNumber</span>- {{userDetails.phone}}</mat-card-content>
  <mat-card-content><span>Website</span>-{{userDetails.website}}</mat-card-content>
</mat-card>
