<div class="row">
  <div class="col-xm-12">
    <div>
      <div class="card pandel-default">
        <div class="card-header addingServer" *ngIf="serversObject.type==='addingServer'">
          <strong>{{serversObject.name}}</strong>
        </div>
        <div class="card-header blueprint" *ngIf="serversObject.type==='blueprintServer'">
          <span>{{serversObject.name}}</span>
        </div>
        <div class="card-body">
          <p>{{serversObject.content}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
