.card {
  width: 500px;
  .addingServer {
    background: rgb(152, 75, 75);
    color: #fff;
  }
  .blueprint {
    background: rgba(31, 31, 179, 0.716);
    color: #fff;
    font-style: italic;
  }
}
