<mat-card>
  <mat-card-title>Create New User</mat-card-title>
  <mat-card-content style="padding-top: 30px;">

    <form [formGroup]="addUserForm" (submit)="createUser()">
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Placeholder" formControlName="name">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>User Name</mat-label>
          <input matInput placeholder="Placeholder" formControlName="userName">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Email Id</mat-label>
          <input matInput placeholder="Placeholder" formControlName="EmailId">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>City Name</mat-label>
          <input matInput placeholder="Placeholder" formControlName="CityName">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Phone Number</mat-label>
          <input matInput placeholder="Placeholder" formControlName="PhoneNumber">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Website</mat-label>
          <input matInput placeholder="Placeholder" formControlName="Website">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </p>

      <p>
        <button mat-raised-button>Create User</button>
      </p>
    </form>
  </mat-card-content>
</mat-card>
