<div class="row">
  <div class="col-xm-12 heading">
    <h3>Add new Servers or blueprint</h3>
    <label for="text">Server Name</label>
    <input type="text" [(ngModel)]="serverName">
    <label for="text">Server Content</label>
    <input type="text" [(ngModel)]="serverContent">
    <br>
    <div class="button-section">
      <button class="btn btn-primary" (click)="onAddingServer()">Add Server</button>
      <button class="btn btn-primary" (click)="onAddingBlueprint()">Add Server Blueprint</button>
    </div>
  </div>
</div>
