<!-- <p>using event binding</p>
  <input type="text" class="form-control" (input)="onTakingInput($event)"> -->
<div class="card-section">
  <input type="text" class="form-control" [(ngModel)]="inputValue">
  <button class="btn btn-primary" (click)="onClickStatusChanage()" [disabled]="!allowButton">click here</button>
  <p>{{inputStatus}}</p>
</div>

<hr>

<div class="card-section">
  <input type="text" class="form-control" [(ngModel)]="userName" (input)="resetButtonActive()">
  <p>{{userName}}</p>

  <button class="btn btn-danger" [disabled]="!emptyString" (click)="resetString()">Reset</button>
</div>

<app-directive-concept></app-directive-concept>
